body {
	font-family: 'Open Sans';
}
h1,h2,h3,h4 {
	font-family: 'Raleway';
}
.details {
	margin-top: 24px;
}

h4 {
	font-style: italic;
}

main a {
	color: #224;
	text-decoration: none;
}
main a:hover {
	color: gray;
	text-decoration: underline;
}

.profile {
	border-radius: 50%;
	width: 75%;
	padding: 20px;
}

.large {
	font-size: x-large;
}

p {
	margin-top: 20px;
}

em {
	font-weight: bold;
	font-style: normal;
}

.next {
	font-size: larger;
	text-align: right;
	display: block;
	margin-top: 30px;
}