body {
	font-family: 'Open Sans';
	font-size: 16px;
	line-height: 1.625;
}
h1,h2,h3,h4 {
	font-family: 'Raleway';
	line-height: 1.625;
}
.details {
	margin-top: 24px;
}

h4 {
	font-style: italic;
}

main a {
	color: #224;
	text-decoration: none;
}
main a:hover {
	color: gray;
	text-decoration: underline;
}

.profile {
	border-radius: 50%;
	width: 75%;
	padding: 20px;
}

.large {
	font-size: x-large;
}

p {
	margin-top: 6px;
	margin-bottom: 26px;
}

em {
	font-weight: bold;
	font-style: normal;
}

.next {
	font-size: larger;
	text-align: right;
	display: block;
	margin-top: 30px;
}

.navbar-default {
	margin: 0;
}

.emphbox {
	background-color: #EEE;
	margin: 0;
	padding: 17.5px;
	width: 100%;
	text-align: center;
}
p.emphbox {
	font-weight: bold;
	font-size: 18px;
}